{% extends 'base.html.twig' %}

{% block body %}
    <header id="banner" class="d-flex justify-content-evenly">
        <div id="banner-gibson">
            <img class="img-fluid" src="{{ asset('Charte/BODY/pub guitare.png') }}" alt="Remise jusqu'à 15% sur Gibson et Ibanez" title="Remise jusqu'à 15% sur Gibson et Ibanez">
            <img id="banner-gibson-button" class="img-fluid" src="{{ asset('Charte/BODY/pub guitare bouton blanc.png') }}" alt="bouton en savoir plus" title="En savoir plus">


        </div>
        <div id="banner-delivery">
            <img class="img-fluid d-none d-lg-block" src="{{ asset('Charte/BODY/banniere droite prix.png') }}" alt="image livraison gratuite à partir de 19€ d'achats" title="Livraison gratuite à partir de 19€ d'achats">
        </div>
    </header>

    <!-- Bannière services -->
    <section id="banner-services">
        <img class="img-fluid w-100 pt-5 pb-2" src="{{ asset('Charte/BODY/banniere centre 4 pictos.png') }}" alt="Livraison gratuite à parti de 19€ d'achats" title="Remise jusqu'à 15% sur Gibson et Ibanez">
    </section>

    <!-- Raccourcis catégories -->
    <section id="categories">
        <header id="header-categories">
            <h1>Nos Catégories</h1>
        </header>

        <!-- 1ère ligne -->
        <div class="d-flex flex-row justify-content-center">
            <div class="item-categories">
                <img class=" img-fluid" src="{{ asset('Charte/BODY/CATEGORIES guitare.png') }}" alt="photo de la catégorie guitare" title="catégorie guitare">
                <img class=" img-fluid rollover" src="{{ asset('Charte/BODY/CATEGORIES ROLL OVER guitare.png') }}" alt="photo de la catégorie guitare" title="catégorie guitare">
            </div>
            <div class="item-categories">
                <img class=" img-fluid" src="{{ asset('Charte/BODY/CATEGORIES batterie.png') }}" alt="photo de la catégorie batterie" title="catégorie batterie">
                <img class=" img-fluid rollover" src="{{ asset('Charte/BODY/CATEGORIES ROLL OVER batterie.png') }}" alt="photo de la catégorie batterie" title="catégorie batterie">

            </div>
            <div class="item-categories">
                <img class=" img-fluid" src="{{ asset('Charte/BODY/CATEGORIES piano.png') }}" alt="photo de la catégorie piano" title="catégorie piano">
                <img class=" img-fluid rollover" src="{{ asset('Charte/BODY/CATEGORIES ROLL OVER piano.png') }}" alt="photo de la catégorie piano" title="catégorie piano">
            </div>
            <div class="item-categories">
                <img class=" img-fluid" src="{{ asset('Charte/BODY/CATEGORIES micro.png') }}" alt="photo de la catégorie micro" title="catégorie micro">
                <img class=" img-fluid rollover" src="{{ asset('Charte/BODY/CATEGORIES ROLL OVER micro.png') }}" alt="photo de la catégorie micro" title="catégorie micro">
            </div>
        </div>

        <!-- 2eme ligne -->
        <div id="categories-sec-line" class="d-flex flex-row bg-white">
            <div class="item-categories">
                <img class=" img-fluid" src="{{ asset('Charte/BODY/CATEGORIES sono.png') }}" alt="photo de la catégorie sono" title="catégorie sono">
                <img class=" img-fluid rollover" src="{{ asset('Charte/BODY/CATEGORIES ROLL OVER sono.png') }}" alt="photo de la catégorie sono" title="catégorie sono">
            </div>
            <div class="item-categories">
                <img class=" img-fluid" src="{{ asset('Charte/BODY/CATEGORIES cases.png') }}" alt="photo de la catégorie cases" title="catégorie cases">
                <img class=" img-fluid rollover" src="{{ asset('Charte/BODY/CATEGORIES ROLL OVER cases.png') }}" alt="photo de la catégorie cases" title="catégorie cases">
            </div>
            <div class="item-categories">
                <img class=" img-fluid" src="{{ asset('Charte/BODY/CATEGORIES cable.png') }}" alt="photo de la catégorie cable" title="catégorie cable">
                <img class=" img-fluid rollover" src="{{ asset('Charte/BODY/CATEGORIES ROLL OVER access.png') }}" alt="photo de la catégorie cable" title="catégorie cable">

            </div>
            <div class="item-categories">
                <img class=" img-fluid" src="{{ asset('Charte/BODY/CATEGORIES saxo.png') }}" alt="photo de la catégorie saxo" title="catégorie saxo">
                <img class=" img-fluid rollover" src="{{ asset('Charte/BODY/CATEGORIES ROLL OVER saxo.png') }}" alt="photo de la catégorie saxo" title="catégorie saxo">

            </div>
        </div>

    </section>

    <!-- Best sellers & partners -->
    <section class="row">

        <!-- Best Sellers -->
        <div id="best-sellers-partners">
            <section id="best-sellers" class="d-flex flex-column">
                <header>
                    <h1>Nos meilleures ventes</h1>
                </header>

                <div id="group-items-categories" class="d-flex flex-row justify-content-center px-3">
                    <div class="item-categories bg-transparent">
                        <img class=" img-fluid px-1" src="{{ asset('Charte/BODY/TOP VENTES guitare.png') }}" alt="photo de la catégorie TOP VENTES guitare" title="TOP VENTES guitare">
                        <img class=" img-fluid px-1 rollover" src="{{ asset('Charte/BODY/TOP VENTES ROLL OVER guitare.png') }}" alt="photo de la catégorie TOP VENTES guitare" title="TOP VENTES guitare">
                    </div>
                    <div class="item-categories bg-transparent">
                        <img class=" img-fluid px-1" src="{{ asset('Charte/BODY/TOP VENTES saxo.png') }}" alt="photo de la catégorie TOP VENTES saxo" title="TOP VENTES saxo">
                        <img class=" img-fluid px-1 rollover" src="{{ asset('Charte/BODY/TOP VENTES ROLL OVER saxo.png') }}" alt="photo de la catégorie TOP VENTES saxo" title="TOP VENTES saxo">
                    </div>
                    <div class="item-categories bg-transparent">
                        <img class=" img-fluid px-1" src="{{ asset('Charte/BODY/TOP VENTES piano.png') }}" alt="photo de la catégorie TOP VENTES piano" title="TOP VENTES piano">
                        <img class=" img-fluid px-1 rollover" src="{{ asset('Charte/BODY/TOP VENTES ROLL OVER piano.png') }}" alt="photo de la catégorie TOP VENTES piano" title="TOP VENTES piano">
                    </div>
                </div>
            </section>

            <!-- Partners -->
            <section id="partners" class="d-flex flex-column px-3">
                <header>
                    <h1>Nos partenaires</h1>
                </header>

                <div class="d-flex flex-row">
                    <div>
                        <img class=" img-fluid" src="{{ asset('Charte/BODY/partenaires 4 logos.png') }}" alt="Logos partenaires Roland, Sennheiser, Yamaha, Behringer" title="Nos partenaires">
                    </div>
                </div>
            </section>

        </div>
    </section>

    </section>



{% endblock %}

{% block title %}
{{ parent() }}|Accueil
{% endblock %}

