{% extends 'base.html.twig' %}

{% block body %}
{#
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 col-sm-12">
            <div class="container-l col-10">
                {% for prt in Produits %}
                <img class="col-2" src="{{ asset('Charte/produit/'~ prt.id ~'.'~prt.proPhoto) }} " width="80%"/>

                {% endfor %}
            </div>
        </div>
    </div>
</div>#}
    <article id="products-list" class="row m-0 px-0 px-lg-5 mb-4">

        {% for prt in Produits %}

        <div class="card col-12 col-sm-6 col-md-4 px-0 overflow-hidden">
            <div class="d-flex justify-content-center py-2 overflow-hidden <?php if(isset($row->cat_id) && $row->cat_id === '11'){echo 'rockin-left';}else{echo 'rockin-right';}?>">
                <a href="#">
                <img class="card-img-top img-fluid" src="{{ asset('Charte/produit/'~ prt.id ~'.'~prt.proPhoto) }} " alt="photo du produit <?php echo $row->pro_label; ?>" title="<?php echo $row->pro_label; ?>">
                </a>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="rgb(55, 55, 55)" fill-opacity="1" d="M0,96L80,117.3C160,139,320,181,480,176C640,171,800,117,960,117.3C1120,117,1280,171,1360,197.3L1440,224L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
            <div class="product-box-body card-body d-flex flex-column justify-content-between bg-dark-grey text-white">


                <!-- Bouton -->
                <button id="addToBasketIcon" type="submit" class="btn bg-transparent">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#fff" class="bi bi-cart-plus" viewBox="0 0 16 16" role="img" aria-label="Ajouter au panier">
                        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                </button>
                <?php
                        }
                    ?>
                <div class="d-flex flex-column justify-content-start">
                    <h5 class="card-title">{{prt.proLibCourt}}</h5>
                    <p class="card-text mb-2">{{prt.proLibCourt}}</p>
                </div>
                <div class="d-flex flex-column justify-content-start">
                    <p class="card-text mb-2">Prix catalogue :

                    <p class="card-text">
                                                <span class="product-box-price"><b>{{ prt.proPriAchat }}</b></span>


                    </p>
                    <a class="btn btn-primary" href="{{ path('app_detail', {'id':prt.id}) }}">Détails</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </article>


{% endblock %}

{% block title %}
{{ parent() }}|produits
{% endblock %}

