{% extends 'base.html.twig' %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('CSS/produits.css') }}">
 {% endblock %}

{% block body %}
{#
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 col-sm-12">
            <div class="container-l col-10">
                {% for prt in Produits %}
                <img class="col-2" src="{{ asset('Charte/produit/'~ prt.id ~'.'~prt.proPhoto) }} " width="80%"/>

                {% endfor %}
            </div>
        </div>
    </div>
</div>#}
    {# <article id="products-list" class="row m-0 px-0 px-lg-5 mb-4">#}
    <div>
        <h1>Nos produits : </h1>
        <div>
            <h4> classer par categorie </h4>
        </div>
    </div>
    <div class="produit container-fluid">
            <div class="row">
                {% for prt in Produits %}
                    <div class="cadre">
                        <img class="produitI" src="{{ asset('Charte/produit/'~ prt.id ~'.'~prt.proPhoto) }}" width="200px">
                        <h3>{{ prt.proLibCourt }}</h3>
                        {% if client is defined%}
                        <p class="prix">{{ prt.proPriAchat * client.cliCoefficient }}€</p>
                        {% else %}
                            <p class="prix">{{ prt.proPriAchat*2 }} €</p>
                        {% endif %}
                        <div class="detail">
                            {% if client is defined%}
                            <a href="{{ path('app_detail',{'id':prt.id}) }}">Détail</a>
                            {% else %}
                            <a href="{{ path('app_login') }}">Connectez-Vous !!!  </a>
                            {% endif %}
                        </div>

                    </div>
                {% endfor %}
            </div>
    </div>


{% endblock %}

{% block title %}
{{ parent() }}|produits
{% endblock %}

