<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('CSS/style2.css') }}">
    <title>{% block title %}Village Green, des musiciens au service des musiciens{% endblock %}</title>
    {% block stylesheets %}

    {% endblock %}
</head>
<body>
<header>
    <div class="entete">
        <div class="nav">
            <div class="img" >
                <img class="img-fluid" src="{{ asset('images/Village-removebg-preview.png') }}"width="50%" >
            </div>
            <nav class="col-10">
                <ul class="col-10" >
                    <li ><a id="p1" href="#" >{% trans %}Accueil{% endtrans %}</a></li>
                    <li id="ul1" class="p1"><a id="p2" href="{{ path('app_produit')  }}" >{% trans %}Nos produits{% endtrans %} </a></li>
                    <li id="ul2" class="p1"> <a id="p3" href="#" >{% trans %} Connexion{% endtrans %} </a></li>
                    <li id="ul3" class="p1"><a id="p4" href="#" >{% trans %}FR {% endtrans %}</a></li>

                </ul>
                <a id="p4" href="#" ><img class="pagnier" src="{{ asset('images/panie.png') }}" width="10%" ></a>
            </nav>

        </div>
    </div>
</header>
<div >
    <img class="img-fluid logo" src="{{ asset('images/filrouge1.jpg') }}" >
</div>
    {% block body %}{% endblock %}
    <footer>
        <div class="cord">
            <img class="img-fluid" src="{{ asset('images/Village-removebg-preview.png') }}"width="120px" >
            <p class="gras">Nous commercaus vous repondre<br> de lundi au vendredi de 8h à17h</p>
            <p>07 . 66 .88 .99 .88</p>
            <p> 85 rue du paris 80000 amiens</p>
        </div>
        <div>
            <div class="block">
                <h3>suivez nous :</h3>
                <div class="reseaux">
                    <img src="{{ asset('images/instagram.png') }}"width="50px">
                    <img src="{{ asset('images/twiter.png') }}"width="50px">
                    <img src="{{ asset('images/facebook.png') }}"width="50px">

                </div>
            </div>
            <div class="lien">
                <a href="#"><p class="gras">Qui somme nous </p></a>
                <a href="#"><p class="gras">FQS </p></a>
                <a href="#"><p class="gras">Nouveautés </p></a>

            </div>
        </div>
    </footer>

</body>

</html>